In [1]:
import pandas as pd

## Q1: Create a Series with indexes = 1, 2, 3 and has three names.

In [2]:
a=pd.Series(['mohammed','saad','mo'],index=[1,2,3])
a

1    mohammed
2        saad
3          mo
dtype: object

## Q2: Change indexes to 11, 12, 13.

In [3]:
a.index=[11,12,13]
a

11    mohammed
12        saad
13          mo
dtype: object

## Q3: Retrieve First and second elements.

In [4]:
a[0:2]

11    mohammed
12        saad
dtype: object

## Q4: Add duplicate elements, then remove the duplication.

In [5]:
s=a.append(a,ignore_index=True)
s[6]=2
print("with duplicates:\n")
print(s)
s=s.drop_duplicates()
print("removed duplicates:\n")
print(s)

with duplicates:

0    mohammed
1        saad
2          mo
3    mohammed
4        saad
5          mo
6           2
dtype: object
removed duplicates:

0    mohammed
1        saad
2          mo
6           2
dtype: object

/var/folders/x5/v3tlskg15f9f7p67b1f0xrmc0000gn/T/ipykernel_19101/4121521165.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s=a.append(a,ignore_index=True)

## Q5: Create a Students DataFrame has three columns (ID, Name, GPA).

In [6]:
a=pd.DataFrame(columns=['ID', 'Name', 'GPA'])
a

Empty DataFrame
Columns: [ID, Name, GPA]
Index: []

## Q6: Read educ_figdp_1_Data.csv file and print the head.

In [7]:
b=pd.read_csv('educ_figdp_1_Data.csv')

## Q7: Give an example shows the difference between loc and slicing?
**Note:**
- loc use the index labels as references.
- slice use the position as references.

In [9]:
print(b[2:5])#to select indexs

   TIME                            GEO  \
2  2002  European Union (28 countries)
3  2003  European Union (28 countries)
4  2004  European Union (28 countries)

                                            INDIC_ED Value Flag and Footnotes
2  Total public expenditure on education as % of ...  5.00                  e
3  Total public expenditure on education as % of ...  5.03                  e
4  Total public expenditure on education as % of ...  4.95                  e

In [10]:
print(b.loc[2:5,'GEO'])#to select indexs and coulmns

2    European Union (28 countries)
3    European Union (28 countries)
4    European Union (28 countries)
5    European Union (28 countries)
Name: GEO, dtype: object